@import 'normalize.css';

:root {
  --main-bg-color: #ffffff;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
